In [ ]:
# Не забудьте подключить chinook.db заранее

import sqlite3
sqlite3.sqlite_version  # 3.22.0

'3.22.0'

In [ ]:
import os
from IPython.display import clear_output
!curl https://www.sqlite.org/src/tarball/sqlite.tar.gz?r=release | tar xz
%cd sqlite/
!./configure
clear_output()
!make sqlite3.c
%cd /content
!npx degit coleifer/pysqlite3 -f
!cp sqlite/sqlite3.[ch] .
!python setup.py build_static build
!ls build
!ls build/lib.linux-x86_64-3.7/pysqlite3/
!ls /usr/lib/ | grep python
clear_output()
!cp build/lib.linux-x86_64-3.7/pysqlite3/_sqlite3.cpython-37m-x86_64-linux-gnu.so \
     /usr/lib/python3.7/lib-dynload/
os._exit(00)

Проверяем, что версия корректна

In [ ]:
%load_ext sql
%sql sqlite:///chinook.db
%sql select SQLITE_VERSION()

 * sqlite:///chinook.db
Done.

[('3.36.0',)]

## Задание 1
Для каждого артиста вывести все жанры, которые есть в его песнях, и для каждого жанра вывести наиболее продолжительную песню

## Задание 2 
Для каждой компании вывести трек, за который компания заплатила наибольшую сумму, вывести жанр данного трека и его альбом

## Задание 3
Для каждого плейлиста вывести трек с наибольшей продолжительностью, трек с наименьшей стоимостью (если у треков одинаковая стоимость, то вывести тот, который весит меньше всех), и жанр данного плейлиста (жанром плейлиста называется тот жанр, треков которого больше всех в плейлисте).

## Задание 4

Для каждого жанра вывести треки, которые встречались в большем числе заказов, 
сумму, потраченную, на данные треки, количество купленных треков и компанию, которая больше всех приобрела данную композицию